{% extends 'base.html.twig' %}

{% block body %}
<div class = "container">
    <h2>Edit Book</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
{#    {{ form_rest(form) }}#}
    <input type="submit" class="btn btn-primary my-2" value="Edit"/>
    {{ form_end(form) }}
</div>
{% endblock %}
